/** Custom Properties **/
:root {
    --primario: #333366;
    --secundario: #663399;
    --secudanrioClaro : #996699;
    --tercero : #333399;
    --terceroClaro : #6699CC;
    --fuentePrimaria : Helvetica;
}

html {
    font-size: 62.5%;
    /*Reset para rems-- 62.5% = 10px*/
    box-sizing: border-box;
}
*,
*:before,
*:after {
    /*Esto hace que el padding no afecte a las medidas del width, llevarlo siempre*/
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrimaria);
    font-size: 1.6rem;
    line-height: 1.6;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    min-height: 100%;
}

/*Globales*/

img {
    max-width: 100%;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

p, h1, h2, h3, h4{
    margin: 0;
}

li{
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}

/*Utilidades*/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.centrado{
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

/*Botones*/

.boton-ej{
    display: flex;
    justify-content: end;
}

.boton {
    font-weight: 400;
    text-decoration: none;
    font-size: 1.8rem;
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
    display: block;
    flex: 0 0 100%;
    border-radius: 27px;
    width: 155px;
    border-style: solid;
}

@media (min-width:768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton-morado{
    color: var(--primario);
    border-color: var(--primario);
}

.boton-azul {
    color: var(--tercero);
    border-color: var(--tercero);
}

/*Pagina*/

/*header*/
.site-header{
    height: 85vh;
    /* Para que tome el tamaño de la pantalla del usuario*/
    background-image: url(../images/hero2.jpg);
    background-position: center;
    width: 100%;
    background-size: cover;
}
/*NavBar*/
.navbar{
    background-color: white;
    display: flex;
    height: 15vh;
    width: 100%;
}

.navbar .logo{
    width: 60%;
}

.navbar img{
    height: 90%;
}

.navbar .nav{
    display: flex;
    justify-content: /*alinear contenido horizontalmente*/ space-between;
    align-items: center;
    width: 40%;
    margin-right: 2rem;
}

.navbar .nav a{
    color: var(--primario);
    font-size: 1.8rem;
}

/*Ejemplos*/
.ejemplos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6rem;
}

.ejemplo{
    width: 100%;
    display: grid;
    grid-template-rows: 1.5fr 0.75fr;
    border-radius: 1rem;
    background-color: white;
    border: 1px solid var(--secundario);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
}

.ejemplo .ejemplo-imagen{
    border-radius: 1rem 1rem 0 0;
}

.ejemplo p{
    font-size: 1.2rem;
}

.iconos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.6rem 0 0 0;
}

.icono{
    color: var(--terceroClaro);
}
.icono p{
    color: black;
}

/*Testimonios*/

.testimonios{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6rem;
    text-align: justify;
}