/** Custom Properties **/
:root {
    --primario: #333366;
    --secundario: #663399;
    --secundarioClaro : #996699;
    --tercero : #333399;
    --terceroClaro : #6699CC;
    --fuentePrimaria : Helvetica;
}

html {
    font-size: 62.5%;
    /*Reset para rems-- 62.5% = 10px*/
    box-sizing: border-box;
}
*,
*:before,
*:after {
    /*Esto hace que el padding no afecte a las medidas del width, llevarlo siempre*/
    box-sizing: inherit;
}


body.home {
    font-family: var(--fuentePrimaria);
    font-size: 1.6rem;
    line-height: 1.6;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #f5f5f5 100%);
    min-height: 100%;
}

body.nohome {
    font-family: var(--fuentePrimaria);
    font-size: 1.6rem;
    line-height: 1.6;background-image: linear-gradient(120deg, #fdfbfb 0%, #f5f5f5 100%);
    min-height: 100%;
}

/*Globales*/

img {
    max-width: 100%;
}

.contenedor {
    width: 95%;
    margin: auto;
    
}

.cuadro{
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}


/* sobre nosostros */

.contenido-nosotros{
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    margin: 4rem ;
}

.contenido-nosotros{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.texto-historia{
margin-right: 30px;
}

/* m치s sobre nosotros */
.contenedor-seccion{
    width: 90%;
    margin: auto;
    /* padding: 0px 0px 30px 15px; */
}

/* .contenedor-seccion{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

} */

/* footer*/

.contenedor-footer{
    background: #6699CC ;
    padding: 0px 0px 30px 15px;
    margin: auto;
}

.contenedor-footer{

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;

}

.contenedor-footer{
    text-align: center;
}

.contenedor-footer{
    color: #fff;
 }

 .titulo-final {
     text-align: center;
     font-size: 24px;
     margin: 20px 0 0 0;
     color: #9e9797;
 }
 

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

p, h1, h2, h3, h4{
    margin: 0;
}

li{
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}

/*Utilidades*/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.centrado{
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

.primario{
    color: var(--secundario);
}

/*Botones*/

.boton-ej{
    display: flex;
    justify-content: end;
}

.boton {
    font-weight: 400;
    text-decoration: none;
    font-size: 1.8rem;
    margin: 1rem 0;
    display: inline-block;
    text-align: center;
    display: block;
    flex: 0 0 100%;
    border-radius: 27px;
    width: 155px;
    border-style: solid;
}

@media (min-width:768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton-morado{
    color: black;
    border-color: var(--secundario);
}

.boton-azul {
    color: black;
    border-color: var(--tercero);
}

/*Pagina*/

/*header*/


/* new upside header */



header{
    width: 100%; 
    height: 600px;
    background: #DA22FF;  
    background: -webkit-linear-gradient(to right, #b363f881, #cc66e0a2),url(../images/hero2.jpg); 
    background: linear-gradient(to right, #b363f881, #cc66e0a2),url(../images/hero2.jpg); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}





.site-header{
    
   
        width: 100%; 
        height: 600px;
        background: #DA22FF;  
        background: -webkit-linear-gradient(to right, #832bcf8d, #832bcf8d),url(../images/hero2.jpg); 
        background: linear-gradient(to right, #832bcf8d, #832bcf8d),url(../images/hero2.jpg); 
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        
   
    
    
    
    /* height: 85vh;
    Para que tome el tama침o de la pantalla del usuario
    background-image: url(../images/hero2.jpg);
    background-position: center;
    background-size: cover;

    width: 100%; */
   
    
}
/*NavBar*/
.navbar{
    background-color: white;
    display: flex;
    width: 100%;
    height: 100px;
    color: #6699CC;
}

.navbar .logo{
    width: 60%;
    height: 100%;
    
}

.navbar img{
    height: 90%;
    margin-left: 2rem;
}

.navbar .nav{
    display: flex;
    justify-content: /*alinear contenido horizontalmente*/ space-between;
    align-items: center;
    width: 40%;
    margin-right: 2rem;
}

.navbar .nav a{
    color: var(--primario);
    font-size: 1.8rem;
    transition: all .1s ease;
}

.navbar .nav a:hover{
    border-bottom: 5px solid var(--secundario);
}


/*Footer*/
.contenedor-footer{
    background-color: #353535;
    padding-top: 4rem;
    margin-top: 2rem;
}

.redes-sociales{
    text-align: center;
}

.redes-sociales a{
    color: white;
    font-size: 3rem;
    margin-right: 2rem;
}

.redes-sociales a:last-of-type{
    margin-right: 0;
}

.contenedor-footer > div{
    color: white;
    padding: 0 2rem;
    font-size: 1.2rem;
    text-align: justify;
}

.copyright{
    text-align: center;
    background-color: #2e2e2e;
    padding: 1rem 0;
    color: white;
    margin: 2rem 0 0 0;
    font-size: 1.5rem;
}


/*Main*/
.mega-flex{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;
    background-color: #ebebeb;
    padding: 1rem;
    border-radius: 1rem;
}

.filtro-cat{
    border-radius: 1rem;
    width: 100%;
    height: 5rem;
    grid-column: 1 / 4 ;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
}

.filtro-cat a{
    width: 100%;
    align-items: center;
    color: black;
    border-right: 1px solid var(--secundario) ;
    position: relative;
}

.filtro-cat a:hover{
    cursor: pointer;
}

.filtro-cat a:last-child{
    border-right: 0px solid var(--secundario) ;
}

.filtros{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
}

.filtros h3{
    border-bottom: 1px solid #333;
    margin-bottom: 1rem;
    color: var(--secundario);
}

a.activo::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2rem;
    width: 3rem;
    bottom: -2rem;
    background-image: url(../images/talleres-flecha.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    
}

/*------------Select Box-----------------*/

.selectdiv{
    width: 90%;
    margin: 0 auto;
}
/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv:after {
font: 17px var(--fuentePrimaria);
color: #333;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
right: 11px;
/*Adjust for position however you want*/

top: 18px;
padding: 0 0 2px;
border-bottom: 1px solid #999;
/*left line */

position: absolute;
pointer-events: none;
}

.selectdiv select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
/* Add some styling */

display: block;
width: 100%;
max-width: 320px;
height: 40px;
float: right;
margin: 5px 0px;
padding: 0px 24px;
font-size: 16px;
line-height: 1.75;
color: #333;
background-color: rgba(102, 153, 204, 0.1);
background-image: none;
border: 1px solid #cccccc;
-ms-word-break: normal;
word-break: normal;
}
/*-----------------End Select Box----------------*/

/*Ejemplos*/
.ocultar{
    display: none!important;
}

.ejemplos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
    background-color: #ebebeb;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 400px;
}

.ejemplo{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 0.75fr;
    border-radius: 1rem;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
}

.ejemplo .ejemplo-imagen{
    border-radius: 1rem 1rem 0 0;
    position: relative;
}

.ejemplo .ejemplo-imagen h3{
    position: absolute;
    bottom: 0;
    color: white;
    padding: 0.8rem;
}

.ejemplo .ejemplo-contenido h3{
    padding: 0.5rem;
}

.ejemplo p{
    font-size: 1.2rem;
}

.iconos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1.6rem 0 0 0;
}

.icono{
    color: var(--secundario);
}
.icono p{
    color: black;
}



/*Parallax*/

.parallax::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(.8);
    filter: brightness(.8)
}

.enumerador{
    position: relative;
    height: auto;
    margin: 6rem 0;
}

.enumerador::before{
    content: '';
    background-image: url(../images/parallax.jpg);
}

.resumen-pa{
    position: relative;
    padding: 12rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.resumen-pa li{
    text-align: center;
    flex: 0 0 25%;
    color: white;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-family: 'Bebas Neue', cursive;
}

.numero{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 6.5rem;
    margin: 0 0 1rem 0;
}

/*Testimonio*/

.testimonios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 8rem;
    margin-top: 2rem;
    grid-column-gap: 6rem;
    text-align: justify;
}


.testimonio{
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
    border-radius: 3rem;
}



.testimonio-p{
    padding: 2rem 1rem;
    border-bottom: 8px solid var(--tercero);
    border-top: 8px solid var(--tercero);
    border-radius: 1rem;
}

.testimonio-h{
    color: var(--secundario);
}


/* Ejemplo 1 */

.img-inmueble {
    text-align: center;
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
}

.detalles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
}

.resumen-propiedad{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    text-align: justify;
    padding: 2rem;
    
}

.resumen-propiedad p{
    font-size: 1.3rem;
    line-height: 1.5;
}

.galeria{
    display: flex;
    place-content: center;
}

.galeria a{
    display: inline-block;
    margin-bottom: 0.5rem;
    margin: 0 3% 0 0;
}

.precio{
    text-align: center;
    padding: 20% 0 0 0;
    font-size: 2rem;
    font-weight: 700;
    color: var(--secundario);
}

.AN{
    font-size: 5rem;
    margin: 4rem 0;
}

.primer-ejemplo {
    background-color: #cccccc;
    
}

.primer-ejemplo .imagenes-casa{
    text-align-last: center;
}

.primer-ejemplo .resumen-propiedad{
    text-align-last: center;
}

.primer-ejemplo .imagen-casa{
    text-align-last: center;
}

.primer-ejemplo img{
    max-height: 50rem;
    align-content: center ;
}

.primer-ejemplo .contenedor-descripcion{
    display: grid;
    grid-template-columns: Repeat(2, 1fr);
    grid-column-gap: 2rem; 
}

.primer-ejemplo .texto-descripcion h3{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0; 
    text-align: center;
}


.primer-ejemplo .texto-descripcion h4{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0; 
    text-align: center;
}

.primer-ejemplo .texto-descripcion p{
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 0 1rem 0; 
    text-align: justify;
}

 .primer-ejemplo .texto-descripcion2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    margin: 3rem 0;
    margin-left: auto;
}

.primer-ejemplo .texto-descripcion-foto2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    margin: 3rem 0;
    margin-left: 0;
}

.primer-ejemplo .imgplanta1{
    text-align-last: center;
}

.primer-ejemplo .imgplanta1{
    max-height: 50rem;
    align-content: center ;
}

.primer-ejemplo .foto1{
    text-align: left;
}

.primer-ejemplo .foto2{
    text-align: left;
}



/*Nosotros*/


.AN{
    font-size: 5rem;
    margin: 4rem 0;
}

.contenido-nosotros img{
    max-height: 50rem;
}

.contenido-nosotros{
    display: grid/*Grid es como flex*/;
    grid-template-columns: Repeat(2, 1fr)/*Si le voy a asignar el mismo espacio a todo uso repeat(#deVecesRepetir, #EspacioAginado)*/;
    /*contenido-nosotros es el padre de 2 divs, entonces con grid-template-columns le doy a esos dos divs un cierto porcentaje de espacio de anchura para cada uno de los divs o (Le doy tantas fracciones[fr] del espacio total a cada columna, hay dos divs asi que si le doy 1 fr a cada una le doy la mitad del espacio total a ambas)*/
    grid-column-gap: 2rem; /*Con grid puedo hacer la separacion de columnas con "grid-column-gap"*/
}

.texto-historia h4{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0; 
    text-align: center;
}

.texto-historia p{
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 0 1rem 0; 
    text-align: justify;
}

.nosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    margin: 3rem 0;
}

.nosotros svg{
    font-size: 6rem;
    color: var(--secundarioClaro);
}

.MV {
    text-align: center;
}

.MV.cuadro{
    padding: 3rem;
    border-radius: 2rem;
}


@media (min-width:768px) {
    .MV {
        flex-basis: /*Se usa para cambiar el tama침o de la base del flex (es como waight, pero si trabajo con flex debo usar FLEX-BASIS)*/
        calc(33.3% - 3rem);
    }
}

.MV h3 {
    margin: 0.5rem 0 3rem 0;
    text-transform: uppercase;
    /* para convetir a mayusculas */
}

.MV a{
    text-decoration: none;
}

/* .MV ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: left;
} */
.MV li{
    justify-self: left;
}

.MV img{
 width: 100px;
 height: auto;
}

.MV:first-of-type img{
    padding-top: 4.3rem;
}


/* Contacto y formulario */

.container-fluid {
    text-align: center;
}

.formulario{
    text-align: center;
}

.btn{
	border-radius: 3px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
}

.go-now{
	color: white;
	background-color: #560148;
}
.go-now:hover{
	background-color: #560148;	
}
.go-now:active{
	background-color: #560148;
}

form{
    background-color: white;
    border-radius: 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}

input, textarea{
    border: 0;
    outline: none;

    width: 280px;
}

.field{
    border: solid 1px #ccc;
    padding: 10px;

    
}

.field:focus{
    border-color: #18A383;
}

.center-content{
    text-align: center;
}

.redes-contacto{
    text-align: center;
}

.redes-contacto a{
    color: rgb(15, 15, 15);
    font-size: 3rem;
    margin-right: 2rem;
}

.redes-contacto a:last-of-type{
    margin-right: 0;
}



/* Investigaci칩n */

.enunciado-1{
    text-align: center;
}

.mapa-2{
    text-align: center;
}

.enunciado-2{
    text-align: center;
}