/** Custom Properties **/
:root {
    --primario: #333366;
    --secundario: #663399;
    --secudanrioClaro : #996699;
    --tercero : #333399;
    --terceroClaro : #6699CC;
    --fuentePrimaria : Helvetica;
}

html {
    font-size: 62.5%;
    /*Reset para rems-- 62.5% = 10px*/
    box-sizing: border-box;
}
*,
*:before,
*:after {
    /*Esto hace que el padding no afecte a las medidas del width, llevarlo siempre*/
    box-sizing: inherit;
}
body.home {
    font-family: var(--fuentePrimaria);
    font-size: 1.6rem;
    line-height: 1.6;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    min-height: 100%;
}

body.nohome {
    font-family: var(--fuentePrimaria);
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: white;
    min-height: 100%;
}

/*Globales*/

img {
    max-width: 100%;
}

.contenedor {
    width: 95%;
    margin: auto;
    
}

/* sobre nosostros */

.contenedor{
    background: #f2f2f2;
    padding: 0px 0px 30px 15px;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.texto-historia{
margin-right: 30px;
}

/* más sobre nosotros */
.contenedor-seccion{
    width: 95%;
    margin: auto;
    background: #f2f2f2;
    padding: 0px 0px 30px 15px;
}

.contenedor-seccion{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

/* footer*/

.contenedor-footer{
    background: #6699CC ;
    padding: 0px 0px 30px 15px;
    margin: auto;
}

.contenedor-footer{

    display: flex;
    width: 95%;
    justify-content: space-evenly;
    margin: auto;

}

.contenedor-footer{
    text-align: center;
}

.contenedor-footer{
    color: #fff;
 }

 .titulo-final {
     text-align: center;
     font-size: 24px;
     margin: 20px 0 0 0;
     color: #9e9797;
 }
 

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

p, h1, h2, h3, h4{
    margin: 0;
}

li{
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}

/*Utilidades*/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.centrado{
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

.primario{
    color: var(--secundario);
}

/*Botones*/

.boton-ej{
    display: flex;
    justify-content: end;
}

.boton {
    font-weight: 400;
    text-decoration: none;
    font-size: 1.8rem;
    margin: 1rem 0;
    display: inline-block;
    text-align: center;
    display: block;
    flex: 0 0 100%;
    border-radius: 27px;
    width: 155px;
    border-style: solid;
}

@media (min-width:768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton-morado{
    color: var(--secundario);
    border-color: var(--secundario);
}

.boton-azul {
    color: var(--tercero);
    border-color: var(--tercero);
}

/*Pagina*/

/*header*/
.site-header{
    height: 85vh;
    /* Para que tome el tamaño de la pantalla del usuario*/
    background-image: url(../images/hero2.jpg);
    background-position: center;
    /* background-size: cover; */

    width: 100%;
   
    
}
/*NavBar*/
.navbar{
    background-color: white;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #6699CC;
}

.navbar .logo{
    width: 60%;
    height: 115%;
}

.navbar img{
    height: 90%;
}

.navbar .nav{
    display: flex;
    justify-content: /*alinear contenido horizontalmente*/ space-between;
    align-items: center;
    width: 40%;
    margin-right: 2rem;
}

.navbar .nav a{
    color: var(--primario);
    font-size: 1.8rem;
}

/*Footer*/
.contenedor-footer{
    background-color: #353535;
    padding-top: 4rem;
    margin-top: 2rem;
}

.redes-sociales{
    text-align: center;
}

.redes-sociales a{
    color: white;
    font-size: 3rem;
    margin-right: 2rem;
}

.redes-sociales a:last-of-type{
    margin-right: 0;
}

.contenedor-footer > div{
    color: white;
    padding: 0 2rem;
    font-size: 1.2rem;
    text-align: justify;
}

.copyright{
    text-align: center;
    background-color: #2e2e2e;
    padding: 1rem 0;
    color: white;
    margin: 2rem 0 0 0;
    font-size: 1.5rem;
}


/*Main*/
.mega-flex{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

.filtro-cat{
    border-radius: 1rem;
    width: 100%;
    height: 5rem;
    grid-column: 1 / 4 ;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
}

.filtro-cat p{
    width: 100%;
    align-items: center;
    color: var(--secudanrioClaro);
    border-right: 1px solid var(--terceroClaro) ;
}

.filtro-cat p:hover{
    cursor: pointer;
}

.filtro-cat p:last-child{
    border-right: 0px solid var(--terceroClaro) ;
}

.filtros{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
}

.filtros h3{
    border-bottom: 1px solid #333;
    margin-bottom: 1rem;
    color: var(--secudanrioClaro);
}

/*------------Select Box-----------------*/

.selectdiv{
    width: 90%;
    margin: 0 auto;
}
/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv:after {
font: 17px var(--fuentePrimaria);
color: #333;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
right: 11px;
/*Adjust for position however you want*/

top: 18px;
padding: 0 0 2px;
border-bottom: 1px solid #999;
/*left line */

position: absolute;
pointer-events: none;
}

.selectdiv select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
/* Add some styling */

display: block;
width: 100%;
max-width: 320px;
height: 40px;
float: right;
margin: 5px 0px;
padding: 0px 24px;
font-size: 16px;
line-height: 1.75;
color: #333;
background-color: rgba(102, 153, 204, 0.1);
background-image: none;
border: 1px solid #cccccc;
-ms-word-break: normal;
word-break: normal;
}
/*-----------------End Select Box----------------*/

/*Ejemplos*/
.ejemplos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
}

.ejemplo{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 0.75fr;
    border-radius: 1rem;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.65);
}

.ejemplo .ejemplo-imagen{
    border-radius: 1rem 1rem 0 0;
    position: relative;
}

.ejemplo .ejemplo-imagen h3{
    position: absolute;
    bottom: 0;
    color: white;
    padding: 0.8rem;
}

.ejemplo .ejemplo-contenido h3{
    padding: 0.5rem;
}

.ejemplo p{
    font-size: 1.2rem;
}

.iconos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1.6rem 0 0 0;
}

.icono{
    color: var(--terceroClaro);
}
.icono p{
    color: black;
}

/*Testimonios*/

.testimonios{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6rem;
    text-align: justify;
}

/*Nosotros*/


.AN{
    font-size: 5rem;
    margin: 4rem 0;
}

.contenido-nosotros img{
    max-height: 50rem;
}

.contenido-nosotros{
    display: grid/*Grid es como flex*/;
    grid-template-columns: Repeat(2, 1fr)/*Si le voy a asignar el mismo espacio a todo uso repeat(#deVecesRepetir, #EspacioAginado)*/;
    /*contenido-nosotros es el padre de 2 divs, entonces con grid-template-columns le doy a esos dos divs un cierto porcentaje de espacio de anchura para cada uno de los divs o (Le doy tantas fracciones[fr] del espacio total a cada columna, hay dos divs asi que si le doy 1 fr a cada una le doy la mitad del espacio total a ambas)*/
    grid-column-gap: 2rem; /*Con grid puedo hacer la separacion de columnas con "grid-column-gap"*/
}

.texto-historia h4{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0; 
    text-align: center;
}

.texto-historia p{
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 0 1rem 0; 
    text-align: justify;
}

.nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    margin: 3rem 0;
}

.nosotros svg{
    font-size: 6rem;
    color: var(--secudanrioClaro);
}

.MV {
    text-align: center;
}

@media (min-width:768px) {
    .MV {
        flex-basis: /*Se usa para cambiar el tamaño de la base del flex (es como waight, pero si trabajo con flex debo usar FLEX-BASIS)*/
        calc(33.3% - 3rem);
    }
}

.MV h3 {
    margin: 0.5rem 0 3rem 0;
    text-transform: uppercase;
    /* para convetir a mayusculas */
}

.MV a{
    text-decoration: none;
}

.MV ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: left;
}
.MV li{
    justify-self: left;
}

.MV img{
 width: 100px;
 height: auto;
}

.MV:first-of-type img{
    padding-top: 4.3rem;
}

.icono-valores{
    grid-column: 1 / 4;
}
.valores {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    text-align: center;
}

.valores h3{
    color: var(--terceroClaro);
}