<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href= "{{url_for('static', filename='css/Normalize.css')}}">
        <link rel="stylesheet" href= "{{url_for('static', filename='css/lightbox.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/vendor/modernizr-3.8.0.min.js')}}"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/plugins.js')}}"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/lightbox.js')}}"></script>
        <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type=text/javascript src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <title>{% block title %}{% endblock %}</title>
        
    </head>
    <body class="nohome">
      <div class="navbar">
        <div class="logo">
          <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="">
        </div>
        <div class="nav">
          <a href="home.html">Home</a>
          <a href="investigacion.html">Investigacion</a>
          <a href="nosotros.html">Nosotros</a>
          <a href="contacto.html">Contacto</a>
        </div>
      </div>
      {% block contents %}
      {% endblock %}

      <div class="contenedor-footer">
          <footer>
            <nav class="redes-sociales">
              <p>Tel: +(503) 7844 9035</p>
              <a href="https://instagram.com/brcevallos "><i class="fab fa-instagram"></i></a>
              <a href="https://www.facebook.com/Cevallos-Bienes-Raices-107432514364803/ "><i class="fab fa-facebook-f"></i></a>
              <a href="bienesraicescevallos@gmail.com"><i class="fa-solid fa-envelope"></i></i></a>
              <p class="copyright">
              Todos Los Derechos Reservados &copy; Bienes Raices Cevallos 2022
              </p>
            </nav>
          </footer> 
      </div>  
    </body>
    
</html>
